// Font 
$heading-font: 'Playfair Display', serif;
$body-font: 'Roboto', sans-serif;

// Color 
$primary-color: #ffb606;
$heading-text: #131230;
$body-text: #777777;
$light: #ffffff;
$dark: #f9f9ff;
$border: #eeeeee;
$shadow: rgba(0,0,0,.1);
$footer: #131230;
$copyright: #0d0d27;
$blog-category: rgba(255, 182, 6,.7);
$placeholder: #b0b0b0;
$overlay: rgba(1,7,16,.8);
$overlay2: rgba(1,7,16,.7);
